/* @theme base */

/* @import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');
section {
	font-family: "Noto Sans JP";
} */
/* @import url('https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@800&display=swap');
section{
	font-family: "font-family: 'M PLUS 1', sans-serif;"
} */
@import 'gaia';
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@500&display=swap');

h1, h2, h4, h3, h5, h6, header,footer, li, p {
	font-family: 'M PLUS 1p', sans-serif;
}

section.lead {
	justify-content: center; 
}

header, footer {
	font-size: x-large;
}

section {
	justify-content: normal;
}

section::after {
  content: attr(data-marpit-pagination) '/' attr(data-marpit-pagination-total);
}